/*
    Write your CSS for the assignment here.

    You shouldn't need to modify the HTML;
    however, you are allowed to. 
    
    Just be aware that you may break some
    of the setup.css styling if you do so.
*/
#section-3 {
    display: flex;
}
.card-style-3 {
    width: 380px;
    border: 16px solid gold;
    border-radius: 16px;
    justify-content: center;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    img {
        max-width: 100%;
        object-fit: cover;
        border: 6px solid goldenrod;
    }
    .pokemon-header {
        padding: 10px 0px;
        font-size: 20px;
        display: inline-flex;
        justify-content: space-between;
        .name {
            margin: 0px;
        }
        .health {
            margin-top: 5px;
        }
        h2 {
            margin: 0px;
        }
    }
    .details {
        display: flex;
        margin-top: 5px;
        justify-content: center;
        font-size: 12px;
        font-style: italic;
        font-weight: bold;
        background: linear-gradient(-50deg, goldenrod, gold, goldenrod);
    }
    .bold {
        font-weight: bold;
        font-size: 18px;
    }
    .attack {
        display: flex;
        flex: 1;
        font-size: 15px;
        justify-content: space-between;
        border-bottom: 2px solid black;
        margin: 5px 0px 8px 0px;
        padding: 5px 10px 20px 0px;
        align-items: center;
        .description {
            justify-content: center;
            margin: 0px auto;
            padding: 0px auto;
        }
        .power {
            font-size: 25px;
            font-weight: bold;
        }
    }
    .data {
        border: 2px solid goldenrod;
        font-weight: bold;
        font-size: 12px;
        margin-bottom: 10px;
    }
}
#pokemon-card-1, 
#pokemon-card-2, 
#pokemon-card-3, 
#pokemon-card-4 {
    margin-right: 16px;
}
#pokemon-card-1, 
#pokemon-card-2 {
    background: linear-gradient(-50deg, rgb(77, 224, 77), green, rgb(77, 224, 77));
}
#pokemon-card-3 {
    background: linear-gradient(-50deg, orange, rgb(215, 90, 2), orange)
}
#pokemon-card-4 {
    background: linear-gradient(-50deg, turquoise, rgb(3, 190, 193), turquoise)
}