/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Bulletin Board assignment.

    Good luck, and have fun!
*/
.first-three {
    text-align: left;
    margin-bottom: 60px;
    display: block;
    margin-left: 60px;
}
.post-it-1 {
    background-color: lightblue;
    display: inline-block;
    padding: 30px 50px 50px 30px;
    margin: 40px;
    box-shadow: 0px 2px 1px 1px #444;
    font-size: 20px;
}
.post-it-2 {
    background-color: whitesmoke;
    display: inline-block;
    padding: 20px 20px 70px 20px;
    margin: 40px;
    box-shadow: 0px 2px 1px 1px #444;
}
.post-it-3 {
    background-color: lightgoldenrodyellow;
    color: navy;
    font-family: cursive;
    text-align: center;
    display: inline-block;
    padding: 25px 50px 50px 30px;
    margin: 40px;
    box-shadow: 0px 2px 1px 1px #444;
}
.last-three {
    margin-top: 20px;
    display: block;
}
.post-it-4 {
    background-color: lightpink;
    display: inline-block;
    font-size: 15px;
    padding: 30px 50px 50px 30px;
    margin: 40px;
    box-shadow: 0px 2px 1px 1px #444;
    margin-left: 500px;
}
.post-it-5 {
    background-color: lightsalmon;
    display: inline-block;
    padding: 40px 70px 70px 40px;
    margin: 40px;
    box-shadow: 0px 2px 1px 1px #444;
    font-size: 20px;
}
.fa-solid fa-stroopwafel {
    display: inline-block;
}
.post-it-6 {
    background-color: whitesmoke;
    display: inline-block;
    padding: 20px 20px 70px 20px;
    margin: 40px;
    box-shadow: 0px 2px 1px 1px #444;
}
.post-it-6 img {
    block-size: 200px;
}