/* RESETS */
h2,
h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
a {
    text-decoration: none;
    color: indigo;
}
.gallery1,
.gallery2,
.gallery3 {
    margin: 20px;
    padding: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "heading heading"
        "subheading subheading"
        "one two"
        "three four"
    ;
}
.card {
    padding: 25px;
    margin: 20px;
}
h2 {
    grid-area: heading;
}
/* RESETS END */

/* Gallery One Start */

/* CARD 1 */
#card1 {
    border: 2px solid rgb(0, 242, 255);
    background-color: black;
    grid-area: one;
    a {
        padding: 20px;
        margin: 0px auto;
        display: block;
        width: max-content;
        color: blue;
    }
    img {
        width: 250px;
        margin: 0px auto;
        display: block;
    }
}
#card1:hover a {
    background-color: black;
    box-shadow: 4px 4px 4px rgb(0, 242, 255);
    color: rgb(0, 242, 255);
    transform: translateY(-4px);
}
#card1 a {
    transition:
        background-color 0.25s,
        box-shadow 0.25s,
        transform 0.25s
    ;
}

/* CARD 2 */
#card2 {
    border: 2px solid rgb(255, 251, 0);
    background-color: black;
    grid-area: two;
    a {
        padding: 20px;
        margin: 0px auto;
        display: block;
        width: max-content;
    }
}
#card2:hover a {
    background-color: black;
    box-shadow: 4px 4px 4px rgb(255, 251, 0);
    color: rgb(174, 0, 255);
    transform: translateY(-4px);
}
#card2 a {
    transition:
        background-color 0.25s,
        box-shadow 0.25s,
        transform 0.25s
    ;
}

/* CARD 3 */
#card3 {
    border: 2px solid rgb(0, 255, 17);
    background-color: black;
    grid-area: three;
    a {
        padding: 20px;
        margin: 0px auto;
        display: block;
        width: max-content;
        color: darkred;
    }
}
#card3:hover a {
    background-color: black;
    box-shadow: 4px 4px 4px rgb(0, 255, 17);
    color: rgb(255, 0, 0);
    transform: translateY(-4px);
}
#card3 a {
    transition:
        background-color 0.25s,
        box-shadow 0.25s,
        transform 0.25s
    ;
}

/* CARD 4 */
#card4 {
    border: 2px solid rgb(255, 0, 191);
    background-color: black;
    grid-area: four;
    a {
        padding: 20px;
        margin: 0px auto;
        display: block;
        width: max-content;
        color: darkgoldenrod;
    }
    img {
        width: 250px;
        margin: 0px auto;
        display: block;
    }
}
#card4:hover a {
    background-color: black;
    box-shadow: 4px 4px 4px rgb(255, 0, 191);
    color: rgb(251, 255, 0);
    transform: translateY(-4px);
}
#card4 a {
    transition:
        background-color 0.25s,
        box-shadow 0.25s,
        transform 0.25s
    ;
}
/* Gallery One End */

/* Gallery Two Start */

/* CARD 1 */
#card1-1 {
    background-color: transparent;
    border: 4px solid red;
    color: red;
    grid-area: one;
    border-radius: 20px;
    a {
        padding: 20px;
        margin: 0px auto;
        display: block;
        width: max-content;
        color: red;
    }
    img {
        width: 170px;
        margin: 0px auto;
        display: block;
    }
}
#card1-1:hover {
    opacity: 0;
    visibility: hidden;
}
#card1-1 {
    transition:
        opacity 1s,
        visibility 1s;
    ;
}

/* CARD 2 */
#card2-1 {
    background-color: transparent;
    border: 4px solid fuchsia;
    color: fuchsia;
    grid-area: two;
    border-radius: 20px;
    a {
        padding: 20px;
        margin: 0px auto;
        display: block;
        width: max-content;
        color: fuchsia;
    }
    img {
        width: 250px;
        margin: 0px auto;
        display: block;
    }
}
#card2-1:hover {
    opacity: 0;
    visibility: hidden;
}
#card2-1 {
    transition:
        opacity 1s,
        visibility 1s;
    ;
}

/* CARD 3 */
#card3-1 {
    background-color: transparent;
    border: 4px solid gold;
    color: gold;
    grid-area: three;
    border-radius: 20px;
    a {
        padding: 20px;
        margin: 0px auto;
        display: block;
        width: max-content;
        color: gold;
    }
    img {
        width: 250px;
        margin: 0px auto;
        display: block;
    }
}
#card3-1:hover {
    opacity: 0;
    visibility: hidden;
}
#card3-1 {
    transition:
        opacity 1s,
        visibility 1s;
    ;
}

/* CARD 4 */
#card4-1 {
    background-color: transparent;
    border: 4px solid turquoise;
    color: turquoise;
    grid-area: four;
    border-radius: 20px;
    a {
        padding: 20px;
        margin: 0px auto;
        display: block;
        width: max-content;
        color: turquoise;
    }
    img {
        width: 250px;
        margin: 0px auto;
        display: block;
    }
}
#card4-1:hover {
    opacity: 0;
    visibility: hidden;
}
#card4-1 {
    transition:
        opacity 1s,
        visibility 1s;
    ;
}
/* Gallery Two End */

/* Gallery Three Start */

#subheading {
    grid-area: subheading;
}
/* CARD 1 */
#card1-2 {
    background-color: black;
    border: 2px solid lime;
    grid-area: one;
    a {
        padding: 20px;
        margin: 0px auto;
        display: block;
        width: max-content;
        color: lime;
    }
}
#card1-2 a {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-8px);
    transition:
        opacity 0.5s,
        visibility 0.5s,
        transform 0.5s
    ;
}
#card1-2:hover a {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}

/* CARD 2 */
#card2-2 {
    background-color: black;
    border: 2px solid yellow;
    grid-area: two;
    a {
        padding: 20px;
        margin: 0px auto;
        display: block;
        width: max-content;
        color: yellow;
    }
}
#card2-2 a {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-8px);
    transition:
        opacity 0.5s,
        visibility 0.5s,
        transform 0.5s
    ;
}
#card2-2:hover a {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}

/* CARD 3 */
#card3-2 {
    background-color: black;
    border: 2px solid fuchsia;
    grid-area: three;
    a {
        padding: 20px;
        margin: 0px auto;
        display: block;
        width: max-content;
        color: fuchsia;
    }
}
#card3-2 a {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-8px);
    transition:
        opacity 0.5s,
        visibility 0.5s,
        transform 0.5s
    ;
}
#card3-2:hover a {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}

/* CARD 4 */
#card4-2 {
    background-color: black;
    border: 2px solid turquoise;
    grid-area: four;
    a {
        padding: 20px;
        margin: 0px auto;
        display: block;
        width: max-content;
        color: turquoise;
    }
}
#card4-2 a {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-8px);
    transition:
        opacity 0.5s,
        visibility 0.5s,
        transform 0.5s
    ;
}
#card4-2:hover a {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}
/* Gallery Three End */