/* RESETS */
h2,
h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
a {
    text-decoration: none;
    color: indigo;
}
.gallery1,
.gallery2,
.gallery3 {
    margin: 20px;
    padding: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "heading heading"
        "one two"
        "three four"
    ;
}
.card {
    padding: 25px;
    margin: 20px;
}
h2 {
    grid-area: heading;
}
/* RESETS END */

/* Gallery One Start */

/* CARD 1 */
#card1 {
    border: 2px solid teal;
    background-color: aliceblue;
    grid-area: one;
    a {
        padding: 20px;
        margin-right: auto;
        margin-left: auto;
        display: block;
    }
}
#card1:hover a {
    background-color: azure;
    box-shadow: 4px 4px 4px #444;
    transform: translateY(-4px);
}
#card1 a {
    transition:
        background-color 0.25s,
        box-shadow 0.25s,
        transform 0.25s
    ;
}

/* CARD 2 */
#card2 {
    border: 2px solid teal;
    background-color: aliceblue;
    grid-area: two;
    a {
        padding: 20px;
        margin-right: auto;
        margin-left: auto;
        display: block;
    }
}
#card2:hover a {
    background-color: azure;
    box-shadow: 4px 4px 4px #444;
    transform: translateY(-4px);
}
#card2 a {
    transition:
        background-color 0.25s,
        box-shadow 0.25s,
        transform 0.25s
    ;
}

/* CARD 3 */
#card3 {
    border: 2px solid teal;
    background-color: aliceblue;
    grid-area: three;
    a {
        padding: 20px;
        margin-right: auto;
        margin-left: auto;
        display: block;
    }
}
#card3:hover a {
    background-color: azure;
    box-shadow: 4px 4px 4px #444;
    transform: translateY(-4px);
}
#card3 a {
    transition:
        background-color 0.25s,
        box-shadow 0.25s,
        transform 0.25s
    ;
}

/* CARD 4 */
#card4 {
    border: 2px solid teal;
    background-color: aliceblue;
    grid-area: four;
    a {
        padding: 20px;
        margin-right: auto;
        margin-left: auto;
        display: block;
    }
}
#card4:hover a {
    background-color: azure;
    box-shadow: 4px 4px 4px #444;
    transform: translateY(-4px);
}
#card4 a {
    transition:
        background-color 0.25s,
        box-shadow 0.25s,
        transform 0.25s
    ;
}
/* Gallery One End */

/* Gallery Two Start */

/* CARD 1 */
#card1-1 {
    background-color: floralwhite;
    border: 2px solid palevioletred;
    grid-area: one;
    a {
        padding: 20px;
    }
}
#card1-1:hover {
    opacity: 0;
    visibility: hidden;
}
#card1-1 {
    transition:
        opacity 1s,
        visibility 1s;
    ;
}

/* CARD 2 */
#card2-1 {
    background-color: floralwhite;
    border: 2px solid palevioletred;
    grid-area: two;
    a {
        padding: 20px;
    }
}
#card2-1:hover {
    opacity: 0;
    visibility: hidden;
}
#card2-1 {
    transition:
        opacity 1s,
        visibility 1s;
    ;
}

/* CARD 3 */
#card3-1 {
    background-color: floralwhite;
    border: 2px solid palevioletred;
    grid-area: three;
    a {
        padding: 20px;
    }
}
#card3-1:hover {
    opacity: 0;
    visibility: hidden;
}
#card3-1 {
    transition:
        opacity 1s,
        visibility 1s;
    ;
}

/* CARD 4 */
#card4-1 {
    background-color: floralwhite;
    border: 2px solid palevioletred;
    grid-area: four;
    a {
        padding: 20px;
    }
}
#card4-1:hover {
    opacity: 0;
    visibility: hidden;
}
#card4-1 {
    transition:
        opacity 1s,
        visibility 1s;
    ;
}
/* Gallery Two End */

/* Gallery Three Start */

/* CARD 1 */
#card1-2 {
    background-color: honeydew;
    border: 2px solid lime;
    grid-area: one;
    a {
        padding: 20px;
    }
}
#card1-2 a {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-8px);
    transition:
        opacity 0.5s,
        visibility 0.5s
    ;
}
#card1-2:hover a {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}

/* CARD 2 */
#card2-2 {
    background-color: honeydew;
    border: 2px solid lime;
    grid-area: two;
    a {
        padding: 20px;
    }
}
#card2-2 a {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-8px);
    transition:
        opacity 0.5s,
        visibility 0.5s
    ;
}
#card2-2:hover a {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}

/* CARD 3 */
#card3-2 {
    background-color: honeydew;
    border: 2px solid lime;
    grid-area: three;
    a {
        padding: 20px;
    }
}
#card3-2 a {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-8px);
    transition:
        opacity 0.5s,
        visibility 0.5s
    ;
}
#card3-2:hover a {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}

/* CARD 4 */
#card4-2 {
    background-color: honeydew;
    border: 2px solid lime;
    grid-area: four;
    a {
        padding: 20px;
    }
}
#card4-2 a {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-8px);
    transition:
        opacity 0.5s,
        visibility 0.5s
    ;
}
#card4-2:hover a {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}
/* Gallery Three End */