* {
    margin: 0px auto;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}
#columns {
    display: grid;
    grid-template-columns: 1fr 6fr;
    padding-top: 10px;
}

/* COLUMN 1 */
#column-1 {
    display: block;
    padding: 40px 60px 300px 20px;
    margin: 0px 20px 0px 0px;
    h2 {
        padding-bottom: 20px;
    }
    a {
        font-size: 20px;
        text-decoration: none;
        color: black;
        display: block;
        padding: 10px;
    }
    a.line {
        border-bottom: 1px solid thistle;
        display: block;
    }
    .bold {
        font-weight: bold;
    }
    #tube {
        padding: 5px;
        background-color: thistle;
        border-radius: 10px;
    }
}
#column-2 {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    max-width: 2000px;
    margin: 15px;
    img {
        width: 400px;
        border-radius: 20px;
    }
    .title {
        font-weight: bold;
    }
    p {
        padding: 2px;
        max-width: 500px;
        margin-right: 40px;
    }
    #video-1 {
        flex: 1;
    }
    #video-2 {
        flex: 1;
    }
    #video-3 {
        flex: 1;
    }
    #video-4 {
        flex: 1;
    }
    #video-5 {
        flex: 1;
    }
    #video-6 {
        flex: 1;
    }
}