#P1 {
    font-family: sans-serif;
    text-align: center;
}
#P1-1 {
    background-color: #ff9671;
    color: #000000;
    font-family: sans-serif;
    text-align: center;
    padding: 24px
}
#P2-2 {
    background-color: #f9f871;
    color: #000000;
    font-family: sans-serif;
    text-align: center;
    padding: 24px
}
#P3-3 {
    background-color: #ff6f91;
    color: #000000;
    font-family: sans-serif;
    text-align: center;
    padding: 24px
}