/* Drill 1 - Write your code solution below */
.d1-container {
    border-style: solid;
    border-width: 3px;
    border-color: black;
}

/* Drill 2 - Write your code solution below */
#d2-p1 {
    border-style: dotted;
    border-color: red;
    border-width: 10px;
}
#d2-p2 {
    border-style: dashed;
    border-color: green;
    border-width: 5px;
}

/* Drill 3 - Write your code solution below */
#d3-h2-1 {
    border-bottom-style: solid;
    border-bottom-width: 2.5px;
}


/* Drill 4 - Write your code solution below */



/* Drill 5 - Write your code solution below */



/* Drill 6 - Write your code solution below */



/* Drill 7 - Write your code solution below */

