/* 
    Global Reset on elements can adjust any and all elements no matter where 
    they are and apply those properties. (*)
*/
* {
    box-sizing: border-box;
    text-align: center;
}
body {
    background-color: darkslateblue;
    font-family: Helvetica, Arial, sans-serif;
    color: antiquewhite;
}
div#notes {
    border: 10px fuchsia inset;
    background-color: peachpuff;
    padding: 35px;
    text-align: center;
}
div#notes a {
    color: darkslateblue;
    padding: 10px;
    margin: 5px;
    display: inline-block;
}
div#notes a:hover {
    color: fuchsia;
}
#nava {
    color: darkslateblue;
    font-size: 15pt;
}
#sup {
    text-align: center;
    color: yellow;
}
h1 {
    color: peachpuff;
    font-family: cursive;
    text-align: center;
    &:hover {
        color:fuchsia;
    }
}
h2,
h3,
h4 {
    color: lavender;
    font-family: Helvetica, Arial, sans-serif;
}
ol {
    color: fuchsia;
}
.lists,
.lists > li {
    text-align: left;
    margin: 10px;
}
button {
    background-color: lemonchiffon;
    border: 4px solid peachpuff;
    padding: 15px;
    margin: 30px;
    font-size: medium;
    font-family: Helvetica, Arial, sans-serif;
    color: darkslateblue;
    border-radius: 1cap;
    font-weight: bold;
}
button:hover {
    background-color: darkslateblue;
    border: 4px solid #ffdab9;
    padding: 15px;
    margin: 30px;
    color: lemonchiffon;
    border-radius: 1cap;
    font-weight: bold;
}
a {
    color: fuchsia;
}
#p2 {
    color: fuchsia;
    text-decoration: line-through;
    padding: 10vh 5%;
    background-color: peachpuff;
    /* 
        Shorthand border radius can have 4 values!

        *First Value: applies to all corners.
        *Second Value: applies to top left and bottom right corners.
        *Third Value: 1st applies to top left, 2nd applies to top right
            and bottom left, 3rd applies to bottom right.
        *Fourth Value: 1st applies to top left, 2nd applies to top right, 3rd 
            applies to bottom right, 4th applies to bottom left.
    */
    border-radius: 5px 40px;
}
#bold1 {
    font-style: italic;
    color: darkslateblue;
}
#smile {
    color: peachpuff;
    font-style: bold;
    font-size: 20pt;
}
.narrow {
    width: 46%;
    display: inline-block;
}
.Image1,
.Image2,
.Image3 {
    padding: 3vh;
    margin: 7.6vh;
    display: inline-block;
    background-color: peachpuff;
}
div {
    border: 5px ridge peachpuff;
    padding: 10px;
    /* 
        - Shorthand margin can have up to 4 values! 

        *First Value: applies to all 4 sides.
        *Second Value: applies to the left/right.
        *Third Value: applies to the bottom.
        *Fourth Value: applies to the left.

        - When you have 4 values, 1 applies to top, 2 applies to right, 
        3 applies to bottom, and 4 applys to left.

        PADDING FOLLOWS THE SAME RULESET!
    */
    margin: 5px 50px 5px 5px;
    background-color: lemonchiffon;
    color: darkslateblue;
}
#navbar1 {
    border: 10px pink inset;
    background-color: pink;
    padding: 20px;
    text-align: center;
}
.warning {
    color: yellow;
    padding: 10px;
}
.one {
    color: darkslateblue;
    padding: 10px;
}
.absolute-heading {
    color: yellow;
}
.absolute-paragraph {
    font-size: 18px;
}
.relative-heading {
    color: fuchsia;
    font-size: 10vw;
}
.relative-paragraph {
    font-size: 3vw;
}
.absolute-image {
    width: 350px;
}
.relative-image {
    width: 50%;
}
.outer-container {
    border: 3px dotted fuchsia;
    background-color: antiquewhite;
    margin: 0px auto;
}
.inner-container {
    border: 3px dashed peachpuff;
    background-color: lemonchiffon;
    margin: 0px auto;
}
.inner-container p, .inner-container img {
    width: 48%;
    display: inline-block;
    vertical-align: middle;
}
.single-column > 
h2 {
    color: darkslateblue;
}
.single-column > p {
    color: black;
}
/* There is required code for single column layout!!! */
.single-column {
    width: 90%;
    max-width: 1440px;
    /* Min/Max width is ONLY ABSOLUTE VALUE */
    padding: 20px;
    border: none;
    margin: 0px auto;
    /* Margin left: auto; property required for right aligned layout*/
    /* 
        For CENTER-aligned Single Column Layouts:
        - You will instead use a short-hand margin in addtion to the other 
        requirments, the top and bottom value are up to you, but the LEFT and 
        RIGHT margin value must be set to auto.
    */
    background-color: transparent;
}
#single-column {
    color: darkorchid;
}
.light-container {
    background: linear-gradient(to bottom right, lavender, lavenderblush, pink);
    padding: 48px 0px 0px 48px;
    border: 10px dashed fuchsia;
}
.dark-container {
    background-color: fuchsia;
    color: white;
    padding: 48px 0px;
}
/* 
    ~ Content-box = is going to add your width + left & right padding + left & 
    right border and display what that total equals as your element's width. 
    The same will apply to height regarding and bottom padding and border.

    ~ Border-box = will accurately depict the width that you set by 
    considering the padding and border when sizing the element and automatically 
    subtracting the required amount to ensure that your element shows the width 
    or height you put in correctly. 
*/
