* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
/* Styles */
#hero-1 {
    height: 100vh;
    background-image: url("../images/road-trip.jpg");
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    position: relative;
    h2 {
        font-size: 72px;
        position: absolute;
        left: 0%;
        padding-left: 70px;
        position: absolute;
        right: 0%;
        text-align: left;
        bottom: 60%;
        color: rgb(255, 196, 0);
        background: linear-gradient(90deg, rgb(103, 66, 52), transparent);
        background-color: #4444;
    }
    h4 {
        font-size: 24px;
        position: absolute;
        left: 0%;
        padding-left: 70px;
        bottom: 57%;
        color: white;
    }
    a#one {
        font-size: 14px;
        display: inline-block;
        background-color: skyblue;
        color: rgb(103, 66, 52);
        text-decoration: none;
        padding: 24px;
        position: absolute;
        left: 0%;
        margin-left: 70px;
        bottom: 51%;
        font-weight: bold;
    }
    a#two {
        font-size: 14px;
        display: inline-block;
        background-color: skyblue;
        color: rgb(103, 66, 52);
        text-decoration: none;
        padding: 24px;
        position: absolute;
        left: 0%;
        margin-left: 230px;
        bottom: 51%;
        font-weight: bold;
    }
}
#hero-2 {
    height: 100vh;
    background-image: url("../images/beach.jpg");
    background-size: cover;
    background-position: center center;
    position: relative;
    .hero-content {
        position: absolute;
        top: 27%;
        text-align: center;
    }
    h2 {
        font-size: 80px;
        margin-bottom: 36px;
        color: darkslategray;
        background: linear-gradient(90deg, white, transparent);
        left: 0%;
        right: 0%;
        padding-left: 70px;
        padding-right: 300px;
    }
    h4 {
        font-size: 30px;
        margin: 0px;
        font-family: cursive;
        color: darkslategray;
    }
    a {
        font-size: 14px;
        display: inline-block;
        background-color: skyblue;
        color: white;
        text-decoration: none;
        padding: 24px;
        margin-top: 36px;
        margin-right: 10px;
        color: darkslategray;
        font-weight: bold;
    }
}
#hero-3 {
    background: url("../images/camping.jpg");
    background-size: cover;
    background-position: center-center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .hero-content {
        color: white;
        text-align: center;
        padding-top: 100px;
    }
    h2 {
        font-size: 72px;
        margin-bottom: 36px;
        color: white;
        padding: 20px;
        background: linear-gradient(90deg,transparent, rgb(1, 64, 1), transparent);
    }
    h4 {
        font-size: 26px;
        margin: 0px;
        color: rgb(1, 64, 1);
        background: linear-gradient(90deg,transparent, white, transparent);
        padding: 10px;
        left: 0%;
        right: 0%;
        font-family: fantasy;
        
    }
    a {
        font-size: 14px;
        display: inline-block;
        background-color: white;
        color: rgb(1, 64, 1);
        text-decoration: none;
        padding: 24px;
        margin-top: 36px;
        margin-right: 24px;
        margin-left: 12px;
        font-weight: bold;
    }
}
