@import url("https://use.typekit.net/fsr8hue.css");
* {
    margin: 0px auto;
    h1,
    h2 {
        font-family: 'snell', cursive;
    }
    h3 {
        font-family: 'acier-bat-solid', sans-serif;
    }
    a {
        font-family: 'acier-bat-solid', sans-serif;
        text-decoration: none;
        color: #47567d;
    }
}
#hero {
    background: 
        linear-gradient(0deg, rgba(245, 245, 245, 0.37), rgba(245, 245, 245, 0.37)),
        url("../images/hero.jpg");
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    display: grid;
    align-content: center;
    margin-right: auto;
    margin-left: auto;
    h2 {
        font-size: 65px;
        margin-bottom: 15px;
        color: #f0edf5;
        text-shadow: 2px 2px 2px #47567d;
    }
    a {
        font-size: 30px;
        margin: 15px;
    }
}
#buttons {
    padding: 20px;
}
#nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: whitesmoke;
    color: #47567d;
    align-items: center;
    padding: 20px;
    a {
        font-size: 20px;
        padding: 8px;
    }
    h1 {
        font-size: 40px;
    }
}
#logo {
    margin-right: auto;
}
.button {
    padding: 10px;
    border: 3px solid #47567d;
    background-color: transparent;
    color: #47567d;
    transition: background-color 0.25s, color 1s;
}
.button:hover {
    color: whitesmoke;
    background-color: #47567d;
    border: 3px solid #47567d;
}
/* Media Queries */
@media screen and (max-width: 800px) {
    #nav {
        h1 {
            text-align: center;
        }
    }
    #hero {
        h2 {
            font-size: 45px;
        }
        a {
            display: flex;
            flex-wrap: wrap;
            font-size: 25px;
        }
    }
}