
* {
    margin: 0px auto;
    h1,
    h2 {
        font-family: "sabbath-black", serif;
        font-weight: 800;
        font-style: normal;
    }
    h3 {
        font-family: "change", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    a {
        font-family: "change", sans-serif;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        color: #9055a2;
    }
    p,
    li {
        font-family: "change", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    li {
        font-size: 25px;
    }
}
@keyframes slider {
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: -400%;
    }
}
.oimages {
    width: 400px;
}
#paceoverview,
#saboverview,
#ploverview,
#voverview,
#dyoverview,
#aseoverview {
    display: flex;
    img {
        margin-left: 20px;
    }
    video {
        margin-left: 20px;
    }
}

/* Homepage and Navigation START*/
#hero {
    background:
        linear-gradient(0deg, rgba(255, 255, 255, 0.695), rgba(255, 255, 255, 0.695)),
        url("../pace+/podiumbottlemockuppace.jpg");
    height: 90vh;
    background-size: cover;
    background-attachment: fixed;
    background-position: 60%;
    display: grid;
    align-content: center;
    margin-right: auto;
    margin-left: auto;
    h2 {
        font-size: 170px;
        margin-bottom: 5px;
        color: #9055a2;
        text-align: center;
        padding: 40px 300px 0px 300px;
    }
    h3 {
        font-size: 48px;
        text-align: center;
        padding-right: 17vh;
        padding-left: 17vh;
        max-width: 1000px;
        margin-bottom: 20px;
        color: #242124;
    }
    a {
        display: block;
        text-align: center;
        font-size: 30px;
        margin: 25px;
        padding: 15px;
        padding-left: 25px;
        padding-right: 25px;
    }

}
#emailsection {
    p {
        margin: 80px 20px 30px 20px;
        padding: 15px;
        font-size: 55px;
        color: #fae6fa;
    }
    a {
        margin: 25px;
        font-size: 30px;
        padding: 15px;
        padding-left: 25px;
        padding-right: 25px;
    }
}
#buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
}
#nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #fae6fa;
    align-items: center;
    padding: 5px;
    a {
        font-size: 25px;
        padding: 10px;
        padding-left: 25px;
        padding-right: 25px;
    }
    #logo img {
        width: 80px;
    }
}
#logo {
    margin-right: auto;
}
.button {
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    border: 4px solid #c9a0dc;
    border-radius: 40px;
    color: #242124;
    background-color: #c9a0dc;
    transition: background-color 0.25s, color 1s;
    box-shadow: #19191979 2px 2px 4px;
}
.link:hover {
    color: #c9a0dc;
}
.link:active {
    color: #c9a0dc;
}
.button:hover {
    color: #f0fff0;
    background-color: #242124;
    border: 4px solid #242124;
    box-shadow: inset black 2px 2px 4px;
}
.button:active {
    color: #d39dee;
    background-color: #242124;
    border: 4px solid #242124;
    box-shadow: inset black 2px 2px 4px;
}
#about {
    text-align: center;
    margin: 0px;
    padding: 60px;
    background:
        url("../images/pattern.jpg");
        height: 160vh;
    background-size: cover;
    background-attachment: fixed;
    background-position: 60%;
}
#about-container {
    max-width: 1500px;
    padding-bottom: 0px;
    h3 {
        color: white;
        font-size: 25px;
        padding-bottom: 10px;
    }
} 
#insta {
    padding: 5px;
    font-size: 22px;
    a {
        color: #c9a0dc;
    }
    a:hover {
        color: #f0fff0;
    }
}
#behance {
    padding: 5px;
    font-size: 22px;
    a {
        color: #c9a0dc;
    }
    a:hover {
        color: #f0fff0;
    }
}
#linkedin {
    padding: 5px;
    font-size: 22px;
    a {
        color: #c9a0dc;
    }
    a:hover {
        color: #f0fff0;
    }
}
#footer {
    background-color: #9055a2;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
        width: 120px;
        padding: 10px;
    }
    a {
        margin: 5px;
        font-size: 16px;
        color: #c9a0dc;
    }
}
#footer a:hover {
    color: #f0fff0;
}
#cpy {
    color: white;
    padding: 10px;
    padding-top: 25px;
}
#mymission {
    margin: 75px;
    padding: 10px 40px 10px 40px;
    h3 {
        font-size: 55px;
    }
    p {
        font-size: 35px;
        color: #fae6fa;
    }
}
#about #introduction {
    margin: 65px;
    margin-top: 0px;
    h3 {
        color: #f0fff0;
        font-size: 50px;
    }
}
/* Homepage and Nav END */

/* Resume Page START*/
.container-1 {
    margin-top: 50px;
}
#grid {
    background-color: #242124;
    color: #fae6fa;
    i {
        color: #f0fff0;
        font-size: 30px;
    }
}
#aboutmepg {
    text-align: center;
    margin: 60px;
    font-size: 40px;
    grid-area: resume;
}
.startcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "resume resume"
        "infotitle missionres"
    ;
    h3 {
        font-size: 30px;
        color: #c9a0dc;
    }
    p {
        font-size: 25px;
    }
}
.infotitle {
    grid-area: infotitle;
    padding: 80px;
    padding-left: 130px;
    margin-left: 0px;
    h3 {
        color: #c9a0dc;
        font-size: 35px;
    }
    p {
        font-size: 27px;
        color: #f0fff0;
    }
}
.missionres {
    grid-area: missionres;
    margin-right: 190px;
    padding: 80px 100px 80px 100px;
    border: 4px dotted #f0fff0;
}
#softproficiancies {
    text-align: left;
    display: block;
    margin: 0px;
    padding: 50px;
    padding-left: 115px;
    span {
        display: inline-block;
        padding: 15px;
        margin: 10px;
        border: 2px solid #f0fff0;
    }
}
#industryskills {
    text-align: left;
    display: block;
    margin: 0px;
    padding: 50px;
    padding-left: 115px;
    span {
        display: inline-block;
        padding: 15px;
        margin: 10px;
        border: 2px solid #f0fff0;
    }
}
#softskills {
    text-align: left;
    display: block;
    margin: 0px;
    padding: 50px;
    padding-left: 115px;
    span {
        display: inline-block;
        padding: 15px;
        margin: 10px;
        border: 2px solid #f0fff0;
    }
}
#languages {
    text-align: left;
    display: block;
    margin: 0px;
    padding: 50px;
    padding-left: 115px;
    span {
        display: inline-block;
        padding: 15px;
        margin: 10px;
        border: 2px solid #f0fff0;
    }
}
.container-2 {
    margin: 50px;
}
.workexperience {
    text-align: left;
    display: block;
    margin: 0px;
    padding: 50px;
    padding-right: 115px;
    h3 {
        color: #c9a0dc;
    }
}
#certifications {
    text-align: left;
    display: block;
    margin: 0px;
    padding: 50px;
    padding-right: 115px;
    h3 {
        color: #c9a0dc;
    }
}
.education {
    text-align: left;
    display: block;
    margin: 0px;
    padding: 50px;
    padding-right: 115px;
    h3 {
        color: #c9a0dc;
    }
}
/* Resume Page END*/

/* Projects Page START*/
/* Carousel START*/
#slider {
    overflow: hidden;
}
#slider figure {
    position: relative;
    width: 500%;
    height: 75vh;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}
#slider figure img {
    float: left;
    width: 20%;
    height: 100%;
    object-fit: cover;
}
/* Carousel END */
#projectspage {
    background:
        url("../images/pattern.jpg");
        height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-position: 60%;
}
#section1 {
    display: block;
    margin: 10px;
}
#section2 {
    display: block;
}
.longcard {
    display: flex;
    margin: 100px 190px 50px 190px;
    margin-left: 190px;
    padding: 60px 70px 60px 70px;
    border: 6px dotted #c9a0dc;
    background-color: #242124;
    text-align: left;
    h2 {
        font-size: 50px;
        padding-bottom: 5px;
        color: #fae6fa;
    }
    h3 {
        font-size: 36px;
        padding-bottom: 15px;
        color: #f0fff0;
    }
    p {
        font-size: 24px;
        color: white;
        padding-bottom: 35px;
        padding-right: 80px;
    }
    img {
        width: 550px;
        border-radius: 30px;
    }
}
#cards {
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    h3 {
        font-size: 25px;
        color: #242124;
    }
}
.card-1,
.card-2,
.card-3,
.card-4,
.card-5,
.card-6,
.card-7,
.card-8 {
    width: 400px;
    margin: 20px;
    height: 650px;
    padding: 35px;
    border-radius: 40px;
    text-align: center;
    background-color: #c9a0dc;
    box-shadow: black 6px 6px 8px;
    img {
        width: 320px;
        margin: 10px;
        border: 6px solid #9055a2;
        border-radius: 20px;
    }
    h2 {
        color: #9055a2;
        font-size: 40px;
        margin-bottom: 5px;
    }
    p {
        margin-bottom: 40px;
        font-size: 18px;
    }
}
.projectbutton {
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border: 4px solid #c9a0dc;
    border-radius: 40px;
    color: #242124;
    background-color: #c9a0dc;
    transition: background-color 0.25s, color 1s;
    box-shadow: #19191979 2px 2px 4px;
    font-size: 20px;
}
.projectbutton:hover {
    color: #f0fff0;
    background-color: #242124;
    border: 4px solid #242124;
    box-shadow: inset black 2px 2px 4px;
}
.projectbutton:active {
    color: #f0fff0;
    background-color: #242124;
    border: 4px solid #242124;
    box-shadow: inset black 2px 2px 4px;
}
/* Projects Page END*/
#pp {
    h3 {
        color: #c9a0dc;
    }
}

/* ASE */
#aseheader {
    text-align: center;
    h1 {
        font-size: 40px;
        color: #9055a2;
        margin: 50px 50px 0px 50px;
    }
    h3 {
        font-size: 30px;
        color: #242124;
    }
    p {
        font-size: 20px;
        color: #242124;
    }
}
#aseoverview {
    margin: 50px 190px 50px 190px;
    margin-left: 190px;
    padding: 80px 100px 80px 100px;
    border: 6px dotted #c9a0dc;
    h3 {
        font-size: 36px;
        padding-bottom: 15px;
        color: #9055a2;
    }
    p {
        font-size: 24px;
    }
}
#aseresearch,
#asefirstdraft,
#aseworkinprogress,
#aseobstacles,
#aserevisions,
#asenextsteps,
#asefinal {
    text-align: left;
    padding: 15px;
    margin-right: 260px;
    margin-left: 260px;
    p {
        font-size: 20px;
        color: #242124;
    }
    h3 {
        padding-bottom: 7px;
        font-size: 30px;
    }
}
.mockups img {
    width: 1150px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.mockups {
    margin-top: 50px;
}
/* ASE END */

/* PACE+ START */
#paceheader {
    text-align: center;
    h1 {
        font-size: 40px;
        color: #9055a2;
        margin: 50px 50px 0px 50px;
    }
    h3 {
        font-size: 30px;
        color: #242124;
    }
    p {
        font-size: 20px;
        color: #242124;
    }
}
#paceoverview {
    margin: 50px 190px 50px 190px;
    margin-left: 190px;
    padding: 80px 100px 80px 100px;
    border: 6px dotted #c9a0dc;
    h3 {
        font-size: 36px;
        padding-bottom: 15px;
        color: #9055a2;
    }
    p {
        font-size: 24px;
    }
}
#paceresearch,
#pacefirstdraft,
#paceworkinprogress,
#paceobstacles,
#pacerevisions,
#pacenextsteps,
#pacefinal {
    text-align: left;
    padding: 15px;
    margin-right: 260px;
    margin-left: 260px;
    p {
        font-size: 20px;
        color: #242124;
    }
    h3 {
        padding-bottom: 7px;
        font-size: 30px;
    }
}
.mockups img {
    width: 1150px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.mockups {
    margin-top: 50px;
}
/* PACE END */

/* SKATE SHOP */
#ssheader {
    text-align: center;
    h1 {
        font-size: 40px;
        color: #9055a2;
        margin: 50px 50px 0px 50px;
    }
    h3 {
        font-size: 30px;
        color: #242124;
    }
    p {
        font-size: 20px;
        color: #242124;
    }
}
#ssoverview {
    margin: 50px 190px 50px 190px;
    margin-left: 190px;
    padding: 80px 100px 80px 100px;
    border: 6px dotted #c9a0dc;
    h3 {
        font-size: 36px;
        padding-bottom: 15px;
        color: #9055a2;
    }
    p {
        font-size: 24px;
    }
}
#ssresearch,
#ssfirstdraft,
#ssworkinprogress,
#ssobstacles,
#ssrevisions,
#ssnextsteps,
#ssfinal {
    text-align: left;
    padding: 15px;
    margin-right: 260px;
    margin-left: 260px;
    p {
        font-size: 20px;
        color: #242124;
    }
    h3 {
        padding-bottom: 7px;
        font-size: 30px;
    }
}
.mockups img {
    width: 1150px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.mockups {
    margin-top: 50px;
}
.simages {
    justify-content: center;
    margin: 15px;
    width: 400px;
}
.swireframe {
    justify-content: center;
    margin: 15px;
    width: 1100px;
}
#prototype {
    padding: 0px;
    margin-left: 135px;
    justify-content: center;
}
/* SKATE SHOP END */

/* PLATELY */
#plheader {
    text-align: center;
    h1 {
        font-size: 40px;
        color: #9055a2;
        margin: 50px 50px 0px 50px;
    }
    h3 {
        font-size: 30px;
        color: #242124;
    }
    p {
        font-size: 20px;
        color: #242124;
    }
}
#ploverview {
    margin: 50px 190px 50px 190px;
    margin-left: 190px;
    padding: 80px 100px 80px 100px;
    border: 6px dotted #c9a0dc;
    h3 {
        font-size: 36px;
        padding-bottom: 15px;
        color: #9055a2;
    }
    p {
        font-size: 24px;
    }
}
#plresearch,
#plfirstdraft,
#plworkinprogress,
#plobstacles,
#plrevisions,
#plnextsteps,
#plfinal {
    text-align: left;
    padding: 15px;
    margin-right: 260px;
    margin-left: 260px;
    p {
        font-size: 20px;
        color: #242124;
    }
    h3 {
        padding-bottom: 7px;
        font-size: 30px;
    }
}
/* PLATELY END */

/* Daily Yolk */
#dyheader {
    text-align: center;
    h1 {
        font-size: 40px;
        color: #9055a2;
        margin: 50px 50px 0px 50px;
    }
    h3 {
        font-size: 30px;
        color: #242124;
    }
    p {
        font-size: 20px;
        color: #242124;
    }
}
#dyoverview {
    margin: 50px 190px 50px 190px;
    margin-left: 190px;
    padding: 80px 100px 80px 100px;
    border: 6px dotted #c9a0dc;
    h3 {
        font-size: 36px;
        padding-bottom: 15px;
        color: #9055a2;
    }
    p {
        font-size: 24px;
    }
}
#dyresearch,
#dyfirstdraft,
#dyworkinprogress,
#dyobstacles,
#dyrevisions,
#dynextsteps,
#dyfinal {
    text-align: left;
    padding: 15px;
    margin-right: 260px;
    margin-left: 260px;
    p {
        font-size: 20px;
        color: #242124;
    }
    h3 {
        padding-bottom: 7px;
        font-size: 30px;
    }
}
/* Daily Yolk End */

/* Sabotage START */
#sabheader {
    text-align: center;
    h1 {
        font-size: 40px;
        color: #9055a2;
        margin: 50px 50px 0px 50px;
    }
    h3 {
        font-size: 30px;
        color: #242124;
    }
    p {
        font-size: 20px;
        color: #242124;
    }
}
#saboverview {
    margin: 50px 190px 50px 190px;
    margin-left: 190px;
    padding: 80px 100px 80px 100px;
    border: 6px dotted #c9a0dc;
    h3 {
        font-size: 36px;
        padding-bottom: 15px;
        color: #9055a2;
    }
    p {
        font-size: 24px;
    }
}
#sabresearch,
#sabfirstdraft,
#sabworkinprogress,
#sabobstacles,
#sabrevisions,
#sabnextsteps,
#sabfinal {
    text-align: left;
    padding: 15px;
    margin-right: 260px;
    margin-left: 260px;
    p {
        font-size: 20px;
        color: #242124;
    }
    h3 {
        padding-bottom: 7px;
        font-size: 30px;
    }
}
/* Philly END */

/* VIBES START */
#vheader {
    text-align: center;
    h1 {
        font-size: 40px;
        color: #9055a2;
        margin: 50px 50px 0px 50px;
    }
    h3 {
        font-size: 30px;
        color: #242124;
    }
    p {
        font-size: 20px;
        color: #242124;
    }
}
#voverview {
    margin: 50px 190px 50px 190px;
    margin-left: 190px;
    padding: 80px 100px 80px 100px;
    border: 6px dotted #c9a0dc;
    h3 {
        font-size: 36px;
        padding-bottom: 15px;
        color: #9055a2;
    }
    p {
        font-size: 24px;
    }
}
#vresearch,
#vfirstdraft,
#vworkinprogress,
#vobstacles,
#vrevisions,
#vnextsteps,
#vfinal {
    text-align: left;
    padding: 15px;
    margin-right: 260px;
    margin-left: 260px;
    p {
        font-size: 20px;
        color: #242124;
    }
    h3 {
        padding-bottom: 7px;
        font-size: 30px;
    }
}
/* VIBES END */

/* Media Queries */
@media screen and (max-width: 800px) {
    #nav {
        display: flex;
        flex-wrap: wrap;
        a {
            font-size: 14px;
            padding-left: 14px;
        }
        #logo img {
            width: 40px;
        }
    }
    #nav, #nav * {
        margin: 0px !important;
        padding: 5px !important;
        width: auto;
        height: auto;
    }
    #cpy p {
        font-size: 14px;
    }
    #about-container {
        text-align: center;
        max-width: none;
        h3 {
            color: white;
            font-size: 30px;
            padding-bottom: 10px;
        }
        p {
            font-size: 18px;
            padding-bottom: 0px;
            margin-bottom: 0px;
        }
    }
    #mymission {
        margin: 0px;
    }
    #about #introduction {
        margin: 15px;
        margin-top: 0px;
    }
    #hero {
        background:
            linear-gradient(0deg, rgba(255, 255, 255, 0.792), rgba(255, 255, 255, 0.792)),
            url("../pace+/podiumbottlemockuppace.jpg");
        height: 70vh;
        width: 100%;
        background-size: cover;
        background-attachment: unset;
        background-position: 50%;
        display: grid;
        align-content: center;
        margin-right: auto;
        margin-left: auto;
        h2 {
            font-size: 55px;
            text-align: center;
            padding: 15px;
        }
        h3 {
            font-size: 25px;
            padding: 15px;
        }
        a {
            display: flex;
            flex-wrap: wrap;
            font-size: 25px;
            justify-content: center;
            padding: 15px;
        }
    }
    #contact {
        padding: 40px;
        padding-top: 160px;
        padding-bottom: 160px;
        h2 {
            font-size: 28px;
        }
        p {
            font-size: 20px;
        }
    }
    .startcontainer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "resume"
            "infotitle" 
            "missionres"
        ;
    }
    .missionres {
        margin: 15px;
        padding: 20px 50px 20px 50px;
        border: 4px dotted #f0fff0;
    }
    .section {
        margin: 15px;
        h2 {
            font-size: 35px;
            font-weight: lighter;
            padding: 10px;
        }
        h3 {
            font-size: 15px;
        }
        p {
            font-size: 15px;
            margin-top: 5px;
            margin-bottom: 5px;
        }
        li {
            font-size: 15px;
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }
    #photography {
        display: flex;
        flex-wrap: wrap;
        gap: 18px;
        padding: 15px;
        margin: 15px;
        img {
            height: 150px;
            flex: 1;
            object-fit: cover;
        }
        img:active {
            height: 200px;
            transition: height 0.7s;
        }
    }
    #grid {
        h3 {
            font-size: 25px;
        }
        h2 {
            font-size: 30px;
        }
        p {
            font-size: 18px;
        }
        li {
            font-size: 17px;
        }
        i {
            font-size: 20px;
        }
    }
    .workexperience {
        padding: 10px;
    }
    .education {
        padding: 10px;
    }
    .infotitle {
        margin: 15px;
        padding: 20px 50px 20px 50px;
    }
    #footer {
        p {
            font-size: 16px;
        }
    }
    #softproficiancies {
        text-align: left;
        display: block;
        margin: 0px;
        padding: 15px;
        padding-left: 60px;
        span {
            display: inline-block;
            padding: 15px;
            margin: 5px;
            border: 2px solid;
            font-size: 18px;
            border-color: #f0fff0;
        }
    }
    #industryskills {
        text-align: left;
        display: block;
        margin: 0px;
        padding: 30px;
        padding-left: 60px;
        span {
            display: inline-block;
            padding: 15px;
            margin: 5px;
            border: 2px solid;
            font-size: 18px;
            border-color: #f0fff0;
        }
    }
    #softskills {
        text-align: left;
        display: block;
        margin: 0px;
        padding: 30px;
        padding-left: 60px;
        span {
            display: inline-block;
            padding: 15px;
            margin: 5px;
            border: 2px solid;
            font-size: 18px;
            border-color: #f0fff0;
        }
    }
    #languages {
        text-align: left;
        display: block;
        margin: 0px;
        padding: 30px;
        padding-left: 60px;
        span {
            display: inline-block;
            padding: 15px;
            margin: 5px;
            border: 2px solid;
            font-size: 18px;
            border-color: #f0fff0;
        }
    }
    #certifications {
        text-align: left;
        display: block;
        margin: 0px;
        padding: 30px;
        padding-left: 60px;
        span {
            display: inline-block;
            padding: 15px;
            margin: 5px;
            border: 2px solid;
            font-size: 18px;
            border-color: #f0fff0;
        }
    }
    #section1 {
        display: inline-block;
        margin: 5px;
    }
    #section2 {
        display: inline-block;
    }
    #projectspage {
        background:
            url("../images/pattern.jpg");
            height: 100vh;
        background-size: cover;
        background-attachment: unset;
        background-position: 60%;
    }
    #about {
        height: 170vh;
        background:
            url("../images/pattern.jpg");
            height: 160vh;
        background-size: cover;
        background-attachment: unset;
        background-position: 60%;
    }
    .longcard {
        display: flex;
        flex-wrap: wrap;
        margin: 10px 0px 10px 0px;
        margin-left: 5px;
        padding: 30px 10px 30px 10px;
        text-align: center;
        h3 {
            font-size: 30px;
            padding-bottom: 15px;
            color: #f0fff0;
        }
        p {
            font-size: 18px;
            color: white;
            padding-bottom: 35px;
            padding-right: 10px;
            padding-left: 10px;
        }
        img {
            width: 200px;
            border-radius: 20px;
            margin-top: 30px;
        }
    }
    .card-1,
    .card-2,
    .card-3,
    .card-4,
    .card-5,
    .card-6,
    .card-7,
    .card-8 {
        width: 250px;
        margin: 10px;
        height: 390px;
        padding: 35px;
        border-radius: 20px;
        text-align: center;
        background-color: #c9a0dc;
        box-shadow: black 6px 6px 8px;
        img {
            width: 150px;
            margin: 5px;
            border: 4px solid #9055a2;
            border-radius: 10px;
        }
        h2 {
            color: #9055a2;
            font-size: 30px;
            margin-bottom: 5px;
        }
        p {
            margin-bottom: 40px;
            font-size: 16px;
        }
    }
    #cards {
        h3 {
            font-size: 21px;
        }
    }
    .projectbutton {
        padding: 10px;
        padding-left: 20px;
        padding-right: 20px;
        border: 4px solid #c9a0dc;
        border-radius: 40px;
        color: #242124;
        background-color: #c9a0dc;
        transition: background-color 0.25s, color 1s;
        box-shadow: #19191979 2px 2px 4px;
        font-size: 16px;
    }
    #emailsection {
        p {
            margin: 25px 0px 40px 0px;
            padding: 5px;
            font-size: 25px;
            color: #fae6fa;
        }
        a {
            margin: 25px;
            font-size: 25px;
            padding: 10px;
            padding-left: 15px;
            padding-right: 15px;
        }
    }
/* Individual Projects */
    .mockups {
        img {
            width: 300px;
            display: flex;
            flex-wrap: wrap;
            text-align: center;
        }
    }
    .oimages {
        height: 200px;
    }
    .simages {
        width: 200px;
    }
    .swireframe {
        width: 300px;
    }
    iframe {
        width: 300px;
        height: 400px;
    }
    #prototype {
        margin-left: 25px;
    }

/* Vibes */
    #vheader {
        text-align: center;
        h1 {
            font-size: 25px;
            margin: 50px 50px 0px 50px;
        }
        h3 {
            font-size: 30px;
        }
        p {
            font-size: 20px;
        }
    }
    #voverview {
        display: flex;
        flex-wrap: wrap;
        margin: 50px 10px 40px 10px;
        margin-left: 10px;
        padding: 20px 40px 20px 40px;
        h3 {
            font-size: 25px;
        }
        p {
            font-size: 18px;
        }
        img {
            margin-left: 0px;
            margin-top: 15px;
        }
    }
    #vresearch,
    #vfirstdraft,
    #vworkinprogress,
    #vobstacles,
    #vrevisions,
    #vnextsteps,
    #vfinal {
        padding: 15px;
        margin-right: 60px;
        margin-left: 60px;
        p {
            font-size: 15px;
        }
        h3 {
            font-size: 25px;
        }
    }
/* Vibes End */

/* Daily Yolk */
    #dyheader {
        text-align: center;
        h1 {
            font-size: 25px;
            margin: 50px 50px 0px 50px;
        }
        h3 {
            font-size: 30px;
        }
        p {
            font-size: 20px;
        }
    }
    #dyoverview {
        display: flex;
        flex-wrap: wrap;
        margin: 50px 10px 40px 10px;
        margin-left: 10px;
        padding: 20px 40px 20px 40px;
        h3 {
            font-size: 25px;
        }
        p {
            font-size: 18px;
        }
        img {
            margin-left: 0px;
            margin-top: 15px;
        }
    }
    #dyresearch,
    #dyfirstdraft,
    #dyworkinprogress,
    #dyobstacles,
    #dyrevisions,
    #dynextsteps,
    #dyfinal {
        padding: 15px;
        margin-right: 60px;
        margin-left: 60px;
        p {
            font-size: 15px;
        }
        h3 {
            font-size: 25px;
        }
    }
/* Daily Yolk End */

/* Sabotage */
    #sabheader {
        text-align: center;
        h1 {
            font-size: 25px;
            margin: 50px 50px 0px 50px;
        }
        h3 {
            font-size: 30px;
        }
        p {
            font-size: 20px;
        }
    }
    #saboverview {
        display: flex;
        flex-wrap: wrap;
        margin: 50px 10px 40px 10px;
        margin-left: 10px;
        padding: 20px 40px 20px 40px;
        h3 {
            font-size: 25px;
        }
        p {
            font-size: 18px;
        }
        img {
            margin-left: 0px;
            margin-top: 15px;
        }
    }
    #sabresearch,
    #sabfirstdraft,
    #sabworkinprogress,
    #sabobstacles,
    #sabrevisions,
    #sabnextsteps,
    #sabfinal {
        padding: 15px;
        margin-right: 60px;
        margin-left: 60px;
        p {
            font-size: 15px;
        }
        h3 {
            font-size: 25px;
        }
    }
/* Sabotage End */

/* ASE */
    #aseheader {
        text-align: center;
        h1 {
            font-size: 25px;
            margin: 50px 50px 0px 50px;
        }
        h3 {
            font-size: 30px;
        }
        p {
            font-size: 20px;
        }
    }
    #aseoverview {
        display: flex;
        flex-wrap: wrap;
        margin: 50px 10px 40px 10px;
        margin-left: 10px;
        padding: 20px 40px 20px 40px;
        h3 {
            font-size: 25px;
        }
        p {
            font-size: 18px;
        }
        img {
            margin-left: 0px;
            margin-top: 15px;
        }
        video {
            width: 200px;
        }
    }
    #aseresearch,
    #asefirstdraft,
    #aseworkinprogress,
    #aseobstacles,
    #aserevisions,
    #asenextsteps,
    #asefinal {
        padding: 15px;
        margin-right: 60px;
        margin-left: 60px;
        p {
            font-size: 15px;
        }
        h3 {
            font-size: 25px;
        }
    }
/* ASE End */

/* Plately */
    #plheader {
        text-align: center;
        h1 {
            font-size: 25px;
            margin: 50px 50px 0px 50px;
        }
        h3 {
            font-size: 30px;
        }
        p {
            font-size: 20px;
        }
    }
    #ploverview {
        display: flex;
        flex-wrap: wrap;
        margin: 50px 10px 40px 10px;
        margin-left: 10px;
        padding: 20px 40px 20px 40px;
        h3 {
            font-size: 25px;
        }
        p {
            font-size: 18px;
        }
        img {
            margin-left: 0px;
            margin-top: 15px;
        }
    }
    #plresearch,
    #plfirstdraft,
    #plworkinprogress,
    #plobstacles,
    #plrevisions,
    #plnextsteps,
    #plfinal {
        padding: 15px;
        margin-right: 60px;
        margin-left: 60px;
        p {
            font-size: 15px;
        }
        h3 {
            font-size: 25px;
        }
    }
/* Plately End */

/* SkateShop */
    #ssheader {
        text-align: center;
        h1 {
            font-size: 25px;
            margin: 50px 50px 0px 50px;
        }
        h3 {
            font-size: 30px;
        }
        p {
            font-size: 20px;
        }
    }
    #ssoverview {
        display: flex;
        flex-wrap: wrap;
        margin: 50px 10px 40px 10px;
        margin-left: 10px;
        padding: 20px 40px 20px 40px;
        h3 {
            font-size: 25px;
        }
        p {
            font-size: 18px;
        }
        img {
            margin-left: 0px;
            margin-top: 15px;
        }
    }
    #ssresearch,
    #ssfirstdraft,
    #ssworkinprogress,
    #ssobstacles,
    #ssrevisions,
    #ssnextsteps,
    #ssfinal {
        padding: 15px;
        margin-right: 60px;
        margin-left: 60px;
        p {
            font-size: 15px;
        }
        h3 {
            font-size: 25px;
        }
    }
/* SkateShop End */

/* Pace+ */
    #paceheader {
        text-align: center;
        h1 {
            font-size: 25px;
            margin: 50px 50px 0px 50px;
        }
        h3 {
            font-size: 30px;
        }
        p {
            font-size: 20px;
        }
    }
    #paceoverview {
        display: flex;
        flex-wrap: wrap;
        margin: 50px 10px 40px 10px;
        margin-left: 10px;
        padding: 20px 40px 20px 40px;
        h3 {
            font-size: 25px;
        }
        p {
            font-size: 18px;
        }
        img {
            margin-left: 0px;
            margin-top: 15px;
        }
    }
    #paceresearch,
    #pacefirstdraft,
    #paceworkinprogress,
    #paceobstacles,
    #pacerevisions,
    #pacenextsteps,
    #pacefinal {
        padding: 15px;
        margin-right: 60px;
        margin-left: 60px;
        p {
            font-size: 15px;
        }
        h3 {
            font-size: 25px;
        }
    }
/* Pace+ End */
}
@media screen and (min-width: 800px) and (max-width: 1000px) {
    #nav {
        display: flex;
        flex-wrap: wrap;
        a {
            font-size: 25px;
        }
    }
    #nav, #nav * {
        margin: 0px !important;
        padding: 10px !important;
        width: auto;
        height: auto;
    }
    #logo {
        display: flex;
        flex-direction: column;
        padding-right: 10px;
    }
    #hero {
        h2 {
            font-size: 50px;
            text-align: center;
        }
        h3 {
            font-size: 25px;
        }
        a {
            display: flex;
            flex-wrap: wrap;
            font-size: 25px;
            justify-content: center;
        }
        p {
            font-size: 20px;
            padding-right: 10vh;
            padding-left: 10vh;
            margin-bottom: 20px;
        }
    }
    #contact {
        margin-left: 25px;
        margin-right: 25px;
        h2 {
            font-size: 30px;
        }
        p {
            font-size: 25px;
        }
    }
    .startcontainer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "resume"
            "infotitle" 
            "missionres"
        ;
    }
    .missionres {
        margin: 15px;
        padding: 80px 100px 80px 100px;
        border: 4px dotted;
    }
    .section {
        margin: 15px;
        h2 {
            font-size: 35px;
            font-weight: lighter;
            padding: 10px;
        }
        h3 {
            font-size: 15px;
        }
        p {
            font-size: 15px;
            margin-top: 5px;
            margin-bottom: 5px;
        }
        li {
            font-size: 15px;
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }
    #photography {
        display: flex;
        flex-wrap: wrap;
        gap: 18px;
        padding: 15px;
        margin: 15px;
        img {
            height: 150px;
            flex: 1;
            object-fit: cover;
        }
        img:active {
            height: 200px;
            transition: height 0.7s;
        }
    }
    #section1 {
        display: inline-block;
        margin: 5px;
    }
    #section2 {
        display: inline-block;
    }
    .longcard {
        display: flex;
        flex-wrap: wrap;
        margin: 60px 100px 40px 100px;
        margin-left: 100px;
        padding: 60px 70px 60px 70px;
        h2 {
            font-size: 32px;
            padding-bottom: 5px;
            color: #fae6fa;
        }
        h3 {
            font-size: 25px;
            padding-bottom: 15px;
            color: #f0fff0;
        }
        p {
            font-size: 16px;
            color: white;
            padding-bottom: 35px;
            padding-right: 80px;
        }
        img {
            width: 350px;
            border-radius: 20px;
            margin-top: 30px;
        }
    }
}
