@import url("https://use.typekit.net/fsr8hue.css");
* {
    margin: 0px auto;
    h1,
    h2 {
        font-family: 'snell', cursive;
    }
    h3 {
        font-family: 'acier-bat-solid', sans-serif;
    }
    a {
        font-family: 'acier-bat-solid', sans-serif;
        text-decoration: none;
        color: #47567d;
    }
}

/* Homepage and Navigation */

#hero {
    background: 
        linear-gradient(0deg, rgba(245, 245, 245, 0.37), rgba(245, 245, 245, 0.37)),
        url("../images/hero.jpg");
    height: 80vh;
    background-size: cover;
    background-attachment: fixed;
    display: grid;
    align-content: center;
    margin-right: auto;
    margin-left: auto;
    h2 {
        font-size: 70px;
        margin-bottom: 30px;
        color: #f0edf5;
        text-shadow: 2px 2px 2px #47567d;
    }
    p {
        font-size: 25px;
        text-align: center;
        padding-right: 20vh;
        padding-left: 20vh;
        margin-bottom: 30px;
        text-shadow: 0px 0px 3px #f0edf5;
    }
    a {
        font-size: 30px;
        margin: 20px;
    }
}
#buttons {
    padding: 20px;
}
#nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: whitesmoke;
    color: #47567d;
    align-items: center;
    padding: 20px;
    a {
        font-size: 20px;
        padding: 8px;
    }
    #logo {
        width: 60px;
    }
}
#logo {
    margin-right: auto;
}
.button {
    padding: 10px;
    border: 3px solid #47567d;
    background-color: rgba(245, 245, 245, 0.346);
    color: #47567d;
    transition: background-color 0.25s, color 1s;
}
.link:hover {
    color: #4f1f78;
}
.button:hover {
    color: whitesmoke;
    background-color: #47567d;
    border: 3px solid #47567d;
}
#contact {
    text-align: center;
    margin: 60px;
    h2 {
        font-size: 35px;
    }
    p {
        font-size: 25px;
    }
} 
#footer {
    background-color: #f0edf5;
    padding: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
        width: 100px;
    }
    a {
        font-family: serif;
        margin: 10px;
        font-size: 16px;
        color: black;
    }
}

/* Resume Page */
.section {
    margin: 25px;
    h2 {
        font-size: 55px;
        color: #4f1f78;
        font-weight: lighter;
        padding: 10px;
    }
    h3 {
        font-size: 25px;
        color: #47567d;
    }
    p {
        font-size: 20px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    li {
        font-size: 20px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}
#grid {
    display: grid;
    grid-template-columns: 2fr 2.5fr;
    grid-template-areas: 
        "container-1 container-2"
        ;
    padding: 30px;
    margin: 60px;
    border: 2px solid #47567d;
}
.container-1 {
    grid-area: container-1;
    background-color: #f0edf5;
}
.container-2 {
    grid-area: container-2;
}
#subsection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "column-1 column-2"
        ;
}
.column-1 {
    grid-area: column-1;
}
.column-2 {
    grid-area: column-2;
}

/* About Page */

#about {
    text-align: center;
    margin: 60px;
    h2 {
        font-size: 35px;
    }
    p {
        font-size: 25px;
    }
}
    

/* Media Queries */
@media screen and (max-width: 800px) {
    #nav {
        h1 {
            text-align: center;
        }
    }
    #logo {
        display: flex;
        flex-direction: column;
    }
    #hero {
        h2 {
            font-size: 45px;
            text-align: center;
        }
        a {
            display: flex;
            flex-wrap: wrap;
            font-size: 25px;
        }
        p {
            font-size: 18px;
            padding-right: 10vh;
            padding-left: 10vh;
            margin-bottom: 20px;
        }
    }
    #contact {
        margin-left: 25px;
        margin-right: 25px;
        h2 {
            font-size: 28px;
        }
        p {
            font-size: 20px;
        }
    }
    #grid {
        display: grid;
        grid-template-columns: 2fr;
        grid-template-areas: 
            "container-1" 
            "container-2"
            ;
        padding: 10px;
        margin: 40px;
        border: 2px solid #47567d;
    }
    #subsection {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "column-1" 
            "column-2"
            ;
    }
    .section {
        margin: 15px;
        h2 {
            font-size: 35px;
            color: #4f1f78;
            font-weight: lighter;
            padding: 10px;
        }
        h3 {
            font-size: 15px;
            color: #47567d;
        }
        p {
            font-size: 15px;
            margin-top: 5px;
            margin-bottom: 5px;
        }
        li {
            font-size: 15px;
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }
}