@import url("https://use.typekit.net/fsr8hue.css");
* {
    margin: 0px;
    p {
        font-family: 'seravek-web', sans-serif;
    }
    h1,
    h2 {
        font-family: 'mighty-slab', serif;
        font-weight: 400;
        font-style: normal;
    }
    h3 {
        font-family: 'acier-bat-outline', sans-serif;
        font-variant: small-caps;
    }
    h4 {
        font-family: 'acier-bat-solid', sans-serif;
        font-variant: small-caps;
    }
    a {
        text-decoration: none;
        font-family: 'acier-bat-solid', sans-serif;
    }
}
/* NAVBAR CSS */
#nav {
    display: flex;
    flex-direction: row;
    background-color: black;
    max-height: 200px;
    padding: 15px;
    img {
        height: 80px;
        padding: 25px;
        background-size: contain;
    }
}
#img {
    margin-right: auto;
}
#links {
    display: flex;
    flex-direction: row;
    padding: 10px;
    flex-wrap: wrap;
    a {
        align-items: end;
        padding: 15px;
        margin-top: 60px;
        font-size: 18px;
        color: #ee2c7b;
    }
}
#links a:hover {
    color: #f09f20;
}
#links a {
    transform: color 0.75s;
}

/* Homepage CSS */
#hero-3 {
    height: 100vh;
    margin: 0px;
    background:
        linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
        url("../images/hero-3.jpg");
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    h3 {
        color: #f09f20;
        font-size: 75px;
        text-align: center;
        padding-bottom: 100px;
        padding-left: 100px;
        padding-right: 100px;
    }
}
#gradient {
    height: 50vh;
    padding: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* Menu Page CSS */
body {
    background-color: black;
    #menu-one {
        border: 4px solid #471166;
        margin: 40px;
    }
}
#menu-logo {
    height: 50vh;
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 60px;
}
#menu-one {
    h3 {
        color: #f09f20;
        font-size: 75px;
        text-align: center;
        padding-bottom: 100px;
        padding-left: 100px;
        padding-right: 100px;
    }
    h2 {
        color: #f09f20;
        font-size: 90px;
        text-align: center;
        padding-top: 50px;
        padding-left: 100px;
        padding-right: 100px;
    }
}
#menu-two {
    background-color: whitesmoke;
    display: grid;
    border: 42px solid black;
    padding: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "featured chicken"
        "column-1 column-2"
        ;
    h2 {
        font-size: 30px;
        color: #471166;
    }
    h4 {
        font-size: 25px;
    }
    p {
        font-size: 14px;
        padding-bottom: 20px;
    }
}
#column-1 {
    grid-area: column-1;
    padding: 10px;
}
#column-2 {
    grid-area: column-2;
    padding: 10px;
}
#featured {
    grid-area: featured;
    padding: 10px;
}
#chicken {
    grid-area: chicken;
    padding-bottom: 10px;
}
#desserts {
    border: 3px solid #ee2c7b;
    padding: 15px;
}
#fav {
    text-align: right;
    padding: 10px;
}
/* Media Queries */
@media screen and (max-width: 768px) {
    #nav {
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "img img"
            "links links"
        ;
        max-height: 400px;
    }
    #img {
        grid-area: img;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0px;
    }
    #links {
        grid-area: links;
        justify-content: center;
        a {
            padding: 5px;
            margin-top: 0px;
            font-size: 18px;
        }
    }
    img {
        height: 200px;
        background-size: contain;
    }
    #gradient {
        height: 25vh;
        padding: 20px;
        padding-top: 60px;
        padding-bottom: 60px;
    }
    #hero-3 {
        h3 {
            font-size: 40px;
        }
    }
    #menu-two {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "featured" 
            "chicken"
            "column-1" 
            "column-2"
            ;
    }
    #menu-one {
        h2 {
            font-size: 54px;
        }
        h3 {
            font-size: 35px;
        }
    }
    #menu-logo {
        height: 22vh;
        padding: 20px;
        padding-top: 70px;
        padding-bottom: 90px;
    }
    #oreo {
        height: 145px;
    }
}
@media screen and (max-width: 768px) and (min-width: 550px) {
    #menu-logo {
        height: 30vh;
        padding: 20px;
        padding-top: 70px;
        padding-bottom: 90px;
    }
    #gradient {
        height: 30vh;
        padding: 30px;
        padding-top: 60px;
        padding-bottom: 60px;
    }
    #hero-3 {
        h3 {
            font-size: 60px;
        }
    }
}