* {
    p {
        font-family: 'Seravek', sans-serif;
    }
    h1,
    h2 {
        font-family: 'Mighty Slab One', sans-serif;
    }
    h3,
    h4 {
        font-family: 'Acier BAT Text Solid', sans-serif;
        font-variant: small-caps;
    }
    a {
        text-decoration: none;
        font-family: 'Acier BAT Text Solid', sans-serif;
    }
}
/* Homepage CSS */
#hero {
    height: 100vh;
    margin: 0px;
    background-image: url("../images/hero.jpg");
    background-size: cover;
    background-attachment: fixed;
}
/* Menu Page CSS */

/* Media Queries */