/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the assignment.

    Good luck, and have fun!
*/
img {
    width: 200%;
    object-fit: cover;
}
#frame-1 {
    border: ridge 5px saddlebrown;
    margin: 70px 20px 12px 1px;
    box-shadow: 2px 1px 1px #444;
}
#frame-1 div {
    background-color: blanchedalmond;
    padding: 15px;
    box-shadow: inset -1px 1px 2px #444;
}
#frame-1 img {
    width: 80px;
    display: block;
    box-shadow: inset -1px 1px 2px #444;
    padding: 2px;
    background-color: whitesmoke;
}
#frame-2 {
    border: ridge 9px saddlebrown;
    margin: 25px 20px 12px 0px;
    box-shadow: 2px 1px 1px #444;
    padding: 5px saddlebrown;
}
#frame-2 div {
    background-color: blanchedalmond;
    padding: 15px;
    box-shadow: inset -1px 1px 2px #444;
}
#frame-2 img {
    width: 70px;
    display: inline-block;
    box-shadow: inset -1px 1px 2px #444;
    padding: 4px;
    background-color: whitesmoke;
}
#frame-3 {
    border: ridge 6px saddlebrown;
    margin: 70px 20px 12px 3px;
    box-shadow: 2px 1px 1px #444;
}
#frame-3 div {
    background-color: blanchedalmond;
    padding: 10px;
    box-shadow: inset -1px 1px 2px #444;
}
#frame-3 img {
    width: 70px;
    display: block;
    box-shadow: inset -1px 1px 2px #444;
    padding: 3px;
    background-color: whitesmoke;
}
#frame-4 {
    border: ridge 4px saddlebrown;
    margin: 40px 20px 12px 3px;
    box-shadow: 2px 1px 1px #444;
    border-radius: 120px;
}
#frame-4 div {
    background-color: lavender;
    padding: 1px;
    box-shadow: inset -1px 1px 2px #444;
    border-radius: 120px;
}
#frame-4 h2 {
    width: 120px;
    display: block;
    border-radius: 120px;
    font-size: 50%;
    font-family: 'Courier New', Courier, monospace;
}