* {
    margin: 0px;
    h1,
    h2,
    h3 {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: rebeccapurple;
    }
    a {
        text-decoration: none;
        font-size: 20px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: rebeccapurple;
    }
}
.nav {
    background-color: lemonchiffon;
    padding: 20px;
    display: flex;
    position: sticky;
    align-items: center;
    #logo {
        margin-right: auto;
    }
}
#logo {
    font-size: 40px;
    font-weight: bold;
}
.link:hover {
    color: pink;
}
#dropdown-menu {
    position: relative;
}
#dropdown {
    position: absolute;
}
a {
    margin: 20px;
    font-size: 25px;
}
#dropdown {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.75s, visibility 0.75s;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 200px;
    background-color: pink;
    margin: 10px;
    a {
        border-bottom: 2px rgb(216, 163, 172) dotted;
        padding-bottom: 5px;
        font-size: 22px;
    }
}
#dropdown-menu:hover i {
    transform: rotate(180deg);
}
#dropdown-menu i {
    transition: transform 0.75s;
}
#dropdown-menu:hover #dropdown {
    opacity: 1;
    visibility: visible;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 200px;
    background-color: pink;
    margin: 10px;
    a {
        border-bottom: 2px rgb(216, 163, 172) dotted;
        padding-bottom: 5px;
        font-size: 22px;
    }
}
#dropdown a:hover {
    color: lemonchiffon;
}
#dropdown a {
    transform: color 0.75s;
}
#hero {
    height: 100vh;
    margin: 0px;
    background-image: url("../images/hero.jpg");
    background-size: cover;
    background-attachment: fixed;
}
#oscar {
    height: 80vh;
    margin: 0px;
    background-image: url("../images/oscar.jpg");
    background-size: cover;
    background-attachment: fixed;
    h2 {
        font-size: 72px;
        position: absolute;
        left: 0%;
        padding-left: 70px;
        position: absolute;
        right: 0%;
        text-align: left;
        bottom: 60%;
        color: brown;
    }
}
#paulie {
    height: 80vh;
    margin: 0px;
    background-image: url("../images/paulie.jpg");
    background-size: cover;
    background-attachment: fixed;
    h2 {
        font-size: 72px;
        position: absolute;
        left: 0%;
        padding-left: 70px;
        position: absolute;
        right: 0%;
        text-align: left;
        bottom: 60%;
        color: rgb(128, 63, 17);
    }
}
#louie {
    height: 80vh;
    margin: 0px;
    background-image: url("../images/louie.jpg");
    background-size: cover;
    background-attachment: fixed;
    h2 {
        font-size: 72px;
        position: absolute;
        left: 0%;
        padding-left: 70px;
        position: absolute;
        right: 0%;
        text-align: left;
        bottom: 60%;
        color: whitesmoke;
    }
}
.description {
    padding: 20px;
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}
/* Media Query */
@media screen and (max-width: 1000px) and (min-width: 800px){

}
@media screen and (max-width: 768px) {
    #nav {
        flex-direction: column;
    }
    #oscar h2 {
        color: aliceblue;
    }
    #oscar,
    #paulie,
    #louie {
        height: 100vh;
        margin: 0px;
        background-size: cover;
        h2 {
            font-size: 55px;
            position: absolute;
            left: 0%;
            padding-left: 70px;
            position: absolute;
            right: 0%;
            text-align: left;
            bottom: 60%;
        }
    } 
}